{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
     <div class="col-12 col-md-6 offset-md-3">
       <form method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}


                                <center>
                                <h1 class="h5 mb-3 font-normal">Bienvenue dans votre plateforme Gesticket SA</h1>
                                <label for="inputLogin" class="col-mb-6">Login</label>
                                <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" placeholder="Login" required autofocus>
                                <label for="inputPassword" class="col-mb-6">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

                                <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}"
                                >

                                {#
                                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                    See https://symfony.com/doc/current/security/remember_me.html

                                    <div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> Remember me
                                        </label>
                                    </div>
                                #}

                                <button class="btn btn-lg btn-primary" type="submit">
                                    Sign in
                                </button>
                                </div></center>
</form>
{% endblock %}


{% block footer %}<h2 class="h5 mb-3 font-normal" >Coding for better Life</h2>{% endblock %}
